option_settings:
  - option_name:  DB_NAME
    value:  d49qseksi6u3me
  - option_name:  DB_USER
    value:  sxqbuajnfvnhko
  - option_name:  DB_HOST
    value:  ec2-3-223-169-166.compute-1.amazonaws.com
  - option_name:  DB_PASSWORD
    value:  186d9f5bb9a61507f3ce5acde1ad54068f4866237f4d74dee4012ac3b1bb8f07
  - option_name:  AWS_DEFAULT_REGION
    value:  us-east-1
