{% extends "./base.html" %}
{% load static %}
{% block content %}
<div class="hero-section">
    <div class="main-content">
        <div class="row">
            <div class="col-5">
                <div class="text-area">
                    <div class="header">
                        <h1><span id="jump-emphasis">JUMP</span><br>into your next job!</h1>
                    </div>
                    <div class="text-explain">
                        <p>Tracking multiple job applications can be difficult and time-consuming. JobJump aims to
                        provide a platform that compiles job application stats such as
                        time-to-response, documents supplied, time of year and other quantifiable metrics.
                        </p>
                    </div>
                    <div class="button-container">
                        <button type="button" class="btn btn-learn">Learn More</button>
                        <button type="button" class="btn btn-login">Sign Up/Login</button>
                    </div>
                </div>
            </div>
            <div class="col-7 hero-img-area">
                <img class="hero-img" src="{% static 'main/media/jumping_isometric.svg' %}" alt="">
            </div>
        </div>
    </div>
</div>
{% endblock content %}