{% extends "./base.html" %}
{% load static %}
{% block content %}
<div class="signup-view">
    <div class="signup-card custom-card ">
        <h3 class="card-title">
            Sign Up
        </h3>
        <form class="remove-background">
            <div class="row remove-background">
                <div class="col-6 remove-background">
                    <div class="form-group remove-background">
                        <label for="exampleInputEmail1">First Name</label>
                        <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter first name">
                    </div>
                </div>
                <div class="col-6 remove-background">
                    <div class="form-group remove-background">
                        <label for="exampleInputEmail1">Last Name</label>
                        <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter last name">
                    </div>
                </div>
            </div>
            <div class="form-group remove-background">
                <label for="exampleInputEmail1">Email address</label>
                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
            </div>
            <div class="form-group remove-background mb-3">
                <label for="exampleInputPassword1">Password</label>
                <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
            </div>
            <div class="d-flex flex-row-reverse remove-background">
                <button type="submit" class="btn btn-primary">Sign Up</button>
            </div>
        </form>
    </div>
    <a href="/login">Already have an account?</a>
    <div class="bottom-area">
        <img src="{% static 'main/media/career_two_color.svg' %}" alt="">
    </div>
</div>
{% endblock content %}